version: "3"

services:
  etcd:
    image: bitnami/etcd:3
    restart: always
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ENABLE_V2=true
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    ports:
      - "42379:2379"
  jaeger:
    image: jaegertracing/all-in-one
    restart: always
    ports:
      - "16686:16686"
      - "44317:4317"
      - "9411:9411"
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://127.0.0.1:9090
  mysql:
    image: mysql:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    ports:
      - "43306:3306"
  postgresql:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "45432:5432"
  redis:
    image: redis:latest
    restart: always
    ports:
      - "46379:6379"
    command: [ "redis-server", "--requirepass", "123456" ]
  kafka:
    image: confluentinc/cp-kafka:latest
    restart: always
    hostname: kafka
    ports:
      - "49092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      CLUSTER_ID: 1
  helloworld:
    image: ghcr.io/junlies/kratos-layout:latest
    restart: always
    ports:
      - "48000:8000"
      - "49000:9000"
      - "46060:6060"
    volumes:
      - ./configs:/app/configs
    depends_on:
      - etcd
      - jaeger
      - mysql
      - postgresql
      - redis
      - kafka
    deploy:
      resources:
        limits:
          cpus: "4.0"
          memory: 1G
        reservations:
          cpus: "1.0"
          memory: 512M